body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  background-color: #ffd700;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.actividades {
  background-color: #add8e6;
  margin: 20px;
  padding: 20px;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #008080;
}

.menu {
  background-color: #008080;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #fff;
  color: #008080;
}

h2 {
  text-align: center;
  color: #008080;
  margin-top: 20px;
}

div a {
  display: flex; /* Cambiado a flex */
  justify-content: center; /* Añadido */
  align-items: center; /* Añadido */
  text-align: center;
}

div a img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .menu li {
    display: block;
    margin: 10px 0;
  }

  .menu a {
    padding: 5px;
  }

  div a img {
    margin: 10px 0;
  }
}
footer {
  background-color: #9fe4a0; /* Verde */
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  position: block;
  bottom: 0;
  width: 100%;
}
